.background-container {
    background-image: url('prewed1.jpeg'); /* Ganti dengan path atau URL latar belakang yang diinginkan */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .countdown-container {
    display: flex;
  }
  
  .countdown-item {
    margin: 0 10px;
    font-size: 2em;
  }
  
.img-fluid {
    height: 855px;
    width: 1440px;
}

.image-container {
        position: relative;
}
  
.image-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff; /* Warna teks */
        text-align: center;
      }
