/* section banner */
.image-container {
  min-height: 844px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../assets/KMP_8615.jpg");
}

.image-overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.image-overlay h1 {
  font-size: 80px !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-kotak {
  background-image: url("../assets/kotakkotak.png");
  background-position: 50% 50%;
  min-height: 844px;
  background-repeat: no-repeat;
}

.gradient {
  background-image: url("../assets/gradient.png");
  background-position: 50% 50%;
  min-height: 844px;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-overlay {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* section 1 */
.section-one-text h3 {
  font-size: 20px;
}
.section-one-text h1 {
  font-size: 60px;
}
.image-person-img {
  max-width: 60%;
  margin-top: 32% !important;
  border-radius: 10px;
}

 .section-text-image1,
  .section-text-image2 {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
   .section-text-image1 img,
  .section-text-image2 img {
   max-width: 50%;
  }

.image-person-img img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.25);
}
.image-person-text h1:first-child {
  font-size: 80px;
}
.image-person-text p {
  color: #867474;
}

.wedding-person {
  overflow-y: hidden !important;
}

.flower-img img {
  top: 1160px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.background-container {
  background-image: url("../assets/prewed1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 453px;
}

/* section 2 */
.countdown-container {
  margin-top: 20px;
  text-align: center;
}

.countdown-item {
  margin: 0 10px;
  font-size: 3em;
  text-align: center;
  font-family: "Poly", serif;
}

.countdown-item div:first-child {
  font-size: 2em;
}

.countdown-item div:last-child {
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 20px;
}

.wydt {
  text-align: center;
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

/* section 3 (gallery) */
.gallery-top img,
.gallery-down img {
  position: absolute;
  width: 200px;
  height: 200px;
}
.section-movie h1 {
  font-size: 50px;
}

.video-container {
  position: relative;
  overflow: hidden;
  max-width: 60%;
  margin: auto;
}

.video-container iframe {
  width: 100%;
  height: 400px;
}

.flower-img-gallery img {
  top: 970px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.gallery-down {
  margin-top: 70px;
}

.gallery-down img {
  position: absolute;
  /* z-index: -2; */
  width: 200px;
  height: 200px;
}

.gallery-item {
  text-align: center;
  margin-bottom: 20px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.bg-gallery img {
  top: 380px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  height: 32%;
  width: 50%;
  object-fit: contain;
}

/* section 4 */
.amplop-digital {
  background-image: url("../assets/prewed1.jpg");
  min-height: 450px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.amplop-digital .bg-blur {
  border-radius: 10px;
  background: rgba(153, 206, 255, 0.22);
  backdrop-filter: blur(6px);
  width: 417px;
  height: 246px;
  flex-shrink: 0;
}
.amplop-digital h1 {
  font-size: 60px;
}
.amplop-digital .bg-blur {
  max-width: 100%;
  margin: auto;
}
/* 
.content-top img{
  width: 250px;
  height: 100px;
  object-fit: cover;
} */
.amplop-digital .row > div:nth-child(1) .content-top img {
  width: 250px;
  height: 100px;
  object-fit: cover;
}

.amplop-digital .row > div:nth-child(2) .content-top img {
  /* width: 174px; */
  height: 65px;
  object-fit: cover;
  margin-top: 15px;
  margin-bottom: 20px;
}
.amplop-digital .row > div:nth-child(3) .content-top img {
  /* width: 200px; */
  height: 65px;
  object-fit: cover;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* footer section */
.buku-form input {
  filter: drop-shadow(0px 0px 3.4px rgba(0, 0, 0, 0.49));
  border-radius: 10px;
  background: #d9d9d9;
  box-shadow: 0px 0px 3.4px 0px rgba(0, 0, 0, 0.49);
  width: 365px;
  height: 99px;
  padding: 0 30px;
}
.buku-form textarea {
  filter: drop-shadow(0px 0px 3.4px rgba(0, 0, 0, 0.49));
  border-radius: 10px;
  background: #d9d9d9;
  box-shadow: 0px 0px 3.4px 0px rgba(0, 0, 0, 0.49);
  padding: 20px 30px;
  width: 78%;
}
.buku-tamu {
  overflow-y: hidden !important;
}
.bg-tamu img {
  top: 550px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  height: 100%;
}

/* responsive */
@media screen and (max-width: 991px) {
  .image-person-img,
  .image-person-img img {
    max-width: 100%;
    margin: auto;
  }

  .image-person-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
    max-height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .image-overlay h3 {
    font-size: 18px !important;
}
  .image-overlay h1 {
    font-size: 60px !important;
}
  .section-text-image1 img, 
  .section-text-image2 img {
    max-width: 90%;
    height: auto;
    margin: auto;
}

  .video-container {
    position: relative;
    overflow: hidden;
    max-width: 80%;
    margin: auto;
  }

  .video-container iframe {
    width: 100%;
    height: 300px;
  }

  .gallery-item {
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
  }
  .gallery-item img {
    width: 95%;
    height: 100%;
    object-fit: cover;
  }
  .countdown-item {
    flex: 1 0 100%;
  }
}

@media screen and (max-width: 576px) {
  .image-overlay h3 {
    font-size: 16px !important;
}
  .image-overlay h1 {
    font-size: 45px !important;
}

  .image-person-text h1:first-child {
    font-size: 40px;
  }
  .section-one-text h3 {
  font-size: 16px;
}
.section-one-text h1 {
  font-size: 40px;
}

  /* .image-person-img img,
  .image-person-img img {
    max-width: 100%;
    margin: auto;
  } */

  .image-person-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
    max-height: 100%;
  }

  .gallery-top img {
    position: absolute;
    width: 150px;
    height: 150px;
  }
  .section-movie h1 {
    font-size: 30px;
  }

  .video-container iframe {
    width: 100%;
    height: auto;
  }

  .gallery-down img {
    position: absolute;
    /* z-index: -2; */
    width: 150px;
    height: 150px;
  }
  .countdown-item div:first-child {
    margin-top: 1em;
  }

  .amplop-digital h1 {
  font-size: 40px;
}
.bg-gallery img {
      top: 243px;
    height: 32%;
    width: 100%;
}
}
