@import url("https://fonts.googleapis.com/css2?family=Dynalight&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
    border: 0;
    overflow-x: hidden;
}

/* font */
.dynafont {
  font-family: "Dynalight", cursive ;
}
h1, h2, h3, h4, h5, h6 {
    overflow-y: hidden;
}

/* title icon */
.title-icon {
  width: 100px;
}
body {
  font-family: "Poppins", sans-serif;
}
.section {
  padding: 80px 0;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
a {
  text-decoration: unset !important;
}

.font-w-1 {
  font-weight: 100;
}
.font-w-2 {
  font-weight: 200;
}
.font-w-3 {
  font-weight: 300;
}
.font-w-4 {
  font-weight: 400;
}
.font-w-5 {
  font-weight: 500;
}
.font-w-6 {
  font-weight: 600;
}
.font-w-7 {
  font-weight: 700;
}
.font-w-8 {
  font-weight: 800;
}

/* line */
.white-line {
  height: 2px;
  width: 50px;
  margin: 15px 0;
  background-color: #ff9900;
}

/* color */
.text-white {
  color: white !important;
}

.text-dark {
  color: #141414 !important;
}

.text-gray {
  color: #867474;
}
.text-orange {
  color: #ff9900;
}
.text-yellow {
  color: #ffe500;
}

/* button */
.btn-outline-white {
  font-weight: 600;
  padding: 1rem 4.5rem;
  position: relative;
  box-shadow: 0;
  overflow: hidden;
  color: white !important;
  background-color: transparent;
  border-radius: 0 !important;
  border: 2px solid white;
  transition: 0.5s;
}
.btn-outline-white:hover {
  background-color: #ffffff;
  border-color: white;
  color: #141414 !important;
}

.btn-orange {
  font-weight: 600;
  padding: 0.7rem 3.5rem;
  position: relative;
  border-radius: 5px;
  box-shadow: 0;
  overflow: hidden;
  color: white !important;
  background-color: #ff9900;
  border: 2px solid #ff9900;
  transition: 0.5s;
}
.btn-orange:hover {
  background-color: #cc8b29;
  border-color: #cc8b29;
  color: white !important;
}

.text-center {
  text-align: center;
}

/* container width */
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 991.5px) {
  .section {
    padding: 60px 0;
  }
  a,
  .form-control,
  .form-select {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  h1 {
    font-size: 34px;
  }
  h3 {
    font-size: 22px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}

@media (max-width: 575.5px) {
  .section {
    padding: 40px 0;
  }
  a,
  .form-control,
  .form-select {
    font-size: 12px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 10px;
  }
}
